/* font-awesome */
a .fab, a .fas {
  color: black;
  font-size: 2.5rem;
}

#spotify-player {
  width: auto;
  height: 250px;
}

@media only screen and (min-width: 450px) {
  #spotify-player {
    width: 400px;
    height: 400px;
  }
}